@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DotNetmud</h1>
    <p class="lead">My mud implementation</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Click <a href="@Url.Action("Client")">here</a> to load the client. 
        </p>
    </div>
</div>