@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>DotNetMud</h1>
    <p class="lead">Yet another attempt at writing a Dot Net Mud in C#. </p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Getting started</h2>
        <p>
            Currently no user stuff. Its a chat room. Log in using the client <a href="@Url.Action("Client")">here</a>
        </p>
    </div>
</div>